<div class="container ">
    <div class="mycard">
        <div class="row">
            <div class="col-md-12">
                <div class="myleftctn">
                    <form #form1="ngForm" class="myform text-center" (ngSubmit)="onSubmit(form1.value)" novalidate>

                        <header>Reset Password</header>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="password" #pass='ngModel' name="pass" ngModel
                                        [class.is-invalid]="pass.invalid && pass.touched" required
                                         class="form-control" minlength="6" id="myinput"
                                        placeholder="Password" >
                                    <!-- <small class="text-danger" [class.d-none]="pass.valid || pass.untouched">This is required</small> -->
                                    <div *ngIf="pass.errors && (pass.touched && pass.invalid)">
                                        <small class="text-danger" *ngIf="pass.errors.required">Password is
                                            required</small>
                                        <small class="text-danger" *ngIf="pass.errors.minlength">Password must be at
                                            least 6 characters</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <!-- <label>Confirm Password </label> -->
                                    <input type="password" #conpass='ngModel' name="conpass" ngModel
                                        [class.is-invalid]="conpass.invalid && conpass.touched" required
                                        class="form-control" minlength="6" id="myinput"
                                        placeholder="Confirm Password">
                                    <!-- <small class="text-danger" [class.d-none]="pass.valid || pass.untouched">This is required</small> -->
                                    <div *ngIf="conpass.errors && (conpass.touched && conpass.invalid)">
                                        <small class="text-danger" *ngIf="conpass.value != pass.value">Password not
                                            matched</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div ngModelaGroup="Address"> -->




                        <br>

                        <button class="btn btn-dark " id="butt" [disabled]='!form1.form.valid'>Reset</button>

                        <br><br>
                        <h6>Already have an account ? <a routerLink="/login">LogIn</a></h6>




                    </form>
                </div>

            </div>
            <!-- <div class="col-md-6">
                <div class="myright">
                    <img src="https://image.shutterstock.com/image-illustration/portrait-cartoon-beard-character-man-260nw-1936155157.jpg"  style="border-radius: 20px;" class="img-fluid" alt="">
                </div>
            </div> -->
        </div>
    </div>
    <!-- <h4 class="display-4" style="text-align: center;">Form</h4> -->

</div>