*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: #ECF0F1;
  }
  .container{
    position: absolute;
    max-width: 400px;
    height: 500px;
    margin: auto;
    
    top: 50%;
    left: 50%;
    bottom:3%;
    transform: translate(-50%,-50%);
  }
  .myrightctn{
    position: relative;
    background-image: linear-gradient(45deg,#f046ff,#9b00e8);
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    color: rgb(192, 192, 192);
    font-size: 12px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .myleftctn{
    position: relative;
    background: white;
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    padding-left: 50px;
  }
  .myleftctn header{
    color: blueviolet;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .row{
    height: 100%;
  }
  .mycard{
    position: relative;
    background: #fff;
    height: 100%;
    border-radius: 25px;
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  }
  .myrightctn header{
    color: white;
    font-size: 44px;
  }
  
  .box{
    position: relative;
    margin: 20px;
    margin-bottom: 100px;
  }
  .myleftctn #myinput{
    width: 70%;
    justify-content: center;
    justify-items: center;
    border-radius: 25px;
    padding: 10px;
    margin: 14px;
    margin-left: 40px;
    padding-left: 50px;
    border: none;
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  }
  
  .myleftctn #myinput:focus{
    outline: none; 
  }
  .myform{
    position: relative;
    margin-top: 50px;
  }
  
  .myleftctn #butt{
    background:linear-gradient(45deg,#f046ff,#9b00e8); 
    color: white;
    width: 150px;
    /* margin-left: 70px; */
    border: none;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  
  }
  .myleftctn #butt :hover{
    background-color:white; 
  }
  .myleftctn #butt:focus{
    outline: none; 
  }
  .myleftctn .fas{
    position: relative;
    color: #bb36fd;
    left: 36px;
  }
  p{
    font-size: 15px;
  }
  a:active {
      color: green;
    }
    a:visited {
      color: green;
    }
    a:link {
      color: green;
    }
  
  