<div class="container ">
    <div class="mycard">
        <div class="row">
            <div class="col-md-6">
                <div class="myleft">
                    <form #forgotform1="ngForm" class="myform text-center" (ngSubmit)="onSubmit(forgotform1.value)" novalidate >
                        <header class="text-center">Forgot Password</header>


                        <br>


                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    
                                    <input type="email" ngModel required name="email" class="form-control" id="myinput"
                                        placeholder="Email">
                                    <!-- <small class="text-danger" [class.d-none]='email.valid || email.untouched'>Email is required</small> -->
                                </div>
                            </div>
                        </div>


                        




                        <br>
                        <button class="btn btn-primary" id="butt">submit</button>
                        <br><br>
                        <h1 id="sentMail"></h1>
                        <h6>Go back to <a routerLink="/login">Login</a> page</h6><br><br>
                        <h6>Create another account <a routerLink="/register">Register here</a></h6>

                        
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="myright">
                    <img src="https://image.shutterstock.com/image-illustration/portrait-cartoon-beard-character-man-260nw-1936155157.jpg"  style="border-radius: 20px;" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- <h4 class="display-4" style="text-align: center;">Form</h4> -->

</div>