*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: #ECF0F1;
  }
  .container{
    position: absolute;
    max-width: 800px;
    height: 500px;
    margin: auto;
    
    top: 50%;
    left: 50%;
    /* bottom:3%; */
    transform: translate(-50%,-50%);
  }
  .myright{
    position: relative;
    background: linear-gradient(45deg,#f046ff,#9b00e8);
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    color: rgb(192, 192, 192);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .myleft{
    position: relative;
    background: white;
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    padding-left: 50px;
  }
  .myleft header{
    color: blueviolet;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .row{
    height: 100%;
  }
  .mycard{
    position: relative;
    background: #fff;
    height: 100%;
    border-radius: 25px;
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  }
  
  
  .box{
    position: relative;
    margin: 20px;
    margin-bottom: 100px;
  }
  .myleft #myinput{
    width: 280px;
    border-radius: 25px;
    padding: 10px;
    margin: 14px;
    padding-left: 50px;
    border: none;
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  }
  
  .myleft #myinput:focus{
    outline: none; 
  }
  .myform{
    position: relative;
    margin-top: 50px;
  }
  
  .myleft #butt{
    background:linear-gradient(45deg,#f046ff,#9b00e8); 
    color: white;
    width: 150px;
    margin-right: 10px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  
  }
  .myleft #butt :hover{
    background-color:white; 
  }
  .myleft #butt:focus{
    outline: none; 
  }
  
  p{
    font-size: 15px;
  }
  a:active {
      color: green;
    }
    a:visited {
      color: green;
    }
    a:link {
      color: green;
    }
  
  
  
   